include ../_article_template.jade

doctype html
html
	+articleTemplate("advent-calendar")
		.article-main
			.article-heading.clearfix
				h2 Cellarmasters Advent Calendar
				span.date October 29, 2013
			img(src="/images/article/advent-calendar.png")
			p So the email channel at work devised this Advent Calendar campaign for Christmas. It’s a nice little idea that takes a traditional advent calendar which reveals a new wine offer each day until Christmas. this calendar will run for the month of November though instead of December… you know, logistics of selling and delivering wine in time for Christmas. Anyways, I was assigned the job of building it.
			p There is 3 major components to this campaign. First there is the actual calendar.
			p
				a(href="http://www.cellarmasters.com.au/email/2013/17776/index.aspx" target="_blank") http://www.cellarmasters.com.au/email/2013/17776/index.aspx
			p there is nothing too tricky in this page. I used a grid design style sheet to lay out the divs that will represent each day/offer. then I used :hover to change the state of the focussed div.  I also use a little c# date range if/else statement so offers are not displayed before the appropriate date. (if between this date and that date, show the offer. else show this placeholder stuff) its a really handy piece of code I have in the bank that I use <strong>all the time</strong> at work. I usually use it to expire pages after the offer has finished, but this is one of those other instances where it came in handy.
			p The second component is the landing pages.
			p
				a(href="http://www.cellarmasters.com.au/email/2013/17776/advent-calendar/day1.aspx" target="_blank") http://www.cellarmasters.com.au/email/2013/17776/advent-calendar/day1.aspx
			p These are really simple pages. It’s mostly just images. There is a price box thrown in so ppl can purchase the wine. this is pre existing code that the back end dev guys built when the site was initially developed. All I need to do is associate the appropriate offer and product so customers are purchasing the correct thing and let the magic happen. The only slightly interesting part of this page is the Christmas cracker at the bottom. It has a jquery .click on it which swaps the still .png image out and replaces it with a .gif that will tell you a dad joke. I had to fiddle with that a little because if you clicked it more than once… even if you refreshed the page and clicked again… it wouldn’t work properly. the gif was cached and would always appear on the last frame instead of playing again. that was annoying. So I did some googling and found if I replace the value of the source attribute (rather than replacing the whole img tag) it forces it to reload. It still doesn’t seem to be always perfect, but it works well enough now. I also have the c# date range thing on these pages in case ppl try to jump ahead by manipulating the url. If they try to go to day12.aspx before its day 12 they get a ‘haha, no cheating’ message that redirects back to the advent calendar page after 10 seconds.
			p The third component is the emails.
			p
				a(href="http://www.cellarmasters.com.au/email/2013/17776/advent-calendar/email1.htm" target="_blank") http://www.cellarmasters.com.au/email/2013/17776/advent-calendar/email1.htm
			p Standard edm. I am not the biggest fan of this design because it is so image heavy at the top. email clients don’t like image heavy emails so much… and most ppl have images turned off by default… so its not the best way to make and edm. also using images in this way means we have no real control on how they display on mobile devices. copy we can enlarge so its easily readable, but the copy in an image is what it is, and we cant help if it becomes too small on mobile devices. but the designers and marketers dont always remember to consider these things in design. as a company we are getting better all the time, but still don’t always get designs with mobile in mind. I guess we are getting there though. I couldn’t really code much of the top of this email because the design incorporates rounded corners and gradients… you cant code that in and edm. I cant use background images.. so I am kind of stuck just using an img tag. the rest of it is ok though.
			p So anyways, that is our Christmas campaign. I have completed 11 days worth of it so far… only 19 days to go ;)
			p Merry Christmas mofos