mixin advent_calendar()
	.article-blurb
		a(href="/article/advent-calendar/")
			h3 Cellarmasters Advent Calendar
		span.date October 29, 2013
		.summary.clearfix
			a(href="/article/advent-calendar/")
				img(src="../images/article/advent-calendar.png")
			p 
				|So the email channel at work devised this Advent Calendar campaign for Christmas. It’s a nice little idea that takes a traditional advent calendar which reveals a new wine offer each day until Christmas. this calendar will run for the month of November though instead of December… you know, logistics of selling and delivering wine in time for Christmas. Anyways, I was assigned the job of building it. 
				a(href="/article/minchinbury") Read about it here&hellip;
