mixin css_pseudo_position()
	.article-blurb
		a(href="/article/css-pseudo-position/")
			h3 CSS tricks &ndash; positioning the pseudo elements
		span.date May 5, 2014
		.summary.clearfix
			a(href="/article/css-pseudo-position/")
				img(src="../images/article/css.png")
			p 
				|I have started working on a couple of interesting projects recently, and so far there has been a couple of instances that required some creative css. I found that using pseudo elements and positioning them got me what I was looking for on more than one occasion lately. It&rsquo;s pretty cool though! Not a bad little trick to have up my sleve. 
				a(href="/article/minchinbury") Read about it here&hellip;
