mixin minchinbury()
	.article-blurb
		a(href="/article/minchinbury/")
			h3 Minchinbury
		span.date November 11, 2013
		.summary.clearfix
			a(href="/article/minchinbury/")
				img(src="../images/article/minchinbury.png")
			p 
				|Toward the end of 2012 I was given the task of building my first complete website at Cellarmasters. It is a simple little site but there was quite a few challenges in this job for me. There was a number of things I had never done before, and there was a few things I had to think about and work out. 
				a(href="/article/minchinbury") Read about it here&hellip;
