include ../_article_template.jade

doctype html
html
	+articleTemplate("minchinbury")
		.article-main
			.article-heading.clearfix
				h2 CSS tricks &ndash; positioning the pseudo elements
				span.date May 5, 2014
			img.left(src="/images/article/css.png")
			p So I haven’t written anything here for a while, but I have a couple of interesting projects on at the moment so I thought I’d note them down.
			p Firstly, I have a project I’m involved in outside of work. It’s a website redesign for a small business and I&rsquo;m on board for front end coding. It’s a really cool project and although we have only just started, I’ve enjoyed working on it so far. Git is used for source control on this project.  I’m using jade and stylus to write the markup, and Grunt ties it all together.
			p Like I said though, we haven’t really done a whole lot on it yet, but so far I’ve had a couple of instances that needed some cool styling to achieve the design. I had a h1 that needed an underline slightly smaller than the width of the actual title. I used a pseudo element and positioning to get the effect. 
			p.pre 
				|.heading-wrap {
				|	position:relative;
				|}
				|.heading-wrap:after {
				|	content: “ “;
				|	position: absolute;
				|	bottom: 0;
				|	left: 3%;
				|	height: 2px;
				|	width: 94%;
				|	border-bottom: 2px solid #ffd907;
				|}
			p I thought that was cool. Also I had to use the same kind of thing again on a box that changes content on hover. So for this, I had to apply the above principals as well as a show hide effect with the hover pseudo element.
			p.pre
				|.tile {
				|	position: relative;
				|	display: table;
				|	h3 {
				|		text-align: center
				|		display: table-cell;
				|		vertical-align: middle; 
				|	}
				|	p {
				|		display: none;
				|		box-sizing:  border-box;
				|		text-align:  center;
				|	}
				|	&:hover h3 {
				|		display: none;
				|	}
				|	&:hover p {
				|		display: table-cell;
				|		background-color: rgba(255, 217, 7, 0.7);
				|		width: 100%;
				|		height: 100%;
				|		vertical-align: middle;
				|	}
				|}
			p I thought that was cool too. Anyways, they seem to get the result the designer was after.
			p At work I am also involved with a project that is updating the NZ wine society site. This project uses TFS for source control and I am doing my work through Visual Studio. This is an easy project though because this website is a very near copy of the companies Australian website. So it is mostly already built. But it is interesting to use dif source controls and tools to build with so I am happy to be involved.