include ../_document_head.jade
include ../_header.jade
include ../_footer.jade

mixin articleTemplate(id)
	+documentHead()
	body(id=id)
		+header()
		.content.clearfix
			.column-1of2
				p testing column 1
			.column-2of2
				block
				.back-to-blog
					a(href="/my-dev-blog/") Back to the blog!
		+footer()