include ../_article_template.jade

doctype html
html
	+articleTemplate("minchinbury")
		.article-main
			.article-heading.clearfix
				h2 Minchinbury
				span.date November 11, 2013
			img(src="/images/article/minchinbury.png")
			p I recently made my first complete website. It was a project given to me at work for Minchinbury wines, and this is my end result.
			p
				a(href="http://minchinburywines.com.au" target="_blank") http://minchinburywines.com.au
			p It is a simple little site but there was quite a few challenges in this job for me. There was a number of things I had never done before, and there was a few things I had to think about and work out. Firstly, the site needed to be made in visual studio using TFS. I have never built a project in visual studio before, and before this job didnt have a fantastic understanding of how it was all set up. It is an ASP.NET MVC4 application and I had no real experience this or with c#, so this was definitely a learning curve for me.
			p I needed to write a few little scripts to get some simple functions on the site working. There was the active state on the navigation bar. This was something I didnt expect, but using the viewbag I was able to identify what page was being displayed and then add an active class to the appropriate anchor tag using a small jquery statement. And there was also the contact form. The design for this site had styled drop down menus in the contact form and I was determined to find a way to make that happen… it did of course end up giving me a really bad head ache.
			p I used a plugin called jquery.selectbox which replaced the select tag with an unordered list that I could style. It seemed to work well enough and I got the desired aesthetic result. But I had to turn it off when rendering on mobile phone so the native behaviour for select tags could work. I used a little jquery statement I found to turn it off when the resolution was low. sweet! so it now looks cool on desktop and ipad and works practically on mobile phone XD
			p But then I noticed it interfering with validation… so I had to write another little script that listened for the click event when you selected a new value and then revalidated that particular field. After that was working, I realised it still wasnt validating in iPad… grrrrrr. so the dev guys at work helped me debug that for a while and we discovered that this plugin is just not compatible with iPad. we turned validation off… but the values chosen (when chosen on an iPad) and not recognised and are not collected and sent through in the email on submit. The marketer doesn’t seem to mind missing out on these 2 fields… so we have left it like that. but its not an ideal situation and I don’t think I would use this plugin again. It’s not practical enough… it’s too limited.
			p on top of all this, I needed the site to be responsive. I decided to try to do it myself rather than using bootstrap or something like that. Again, this being my first time it caused me many headaches. I made initially my standard css (for desktop) and 2 medial queries. One for mobile phone, and one for tablets. I ended up adding a 3rd media query for res between 1025px and 1366px. I’m still tweaking the css at the time of writing this post. I also had to write a little event handler to work the menu on mobile phone.
			p So as of now, the site is supported on chrome, firefox and safari, and IE 8, 9 and 10. also on iPad and on mobile phone devices (tested on iPhone and Samsung galaxy). I have a little bit more tweaking to do, particularly on the 1025px and 1366px media query, but all in all I’m pretty happy with it. It was tough, but I feel like I did ok for my first site. look forward to making many more, and refining the skills involved. Becoming better, more intuitive with what I need to do where, and of course faster. I will only get better from here ;)