// ARTICLE

// Blog page blurbs
.article-blurb
	border-top 1px solid mbDarkBlue
	margin-bottom 30px
	span.date
		float right
		margin-top 1.3em
		color #888
	.summary
		color #000001
		img
			float right
			margin-left 15px
			height 150px
	a
		h3
			color mbKhaki
			&:hover
				color mbDarkBlue

// Main article pages
.article-main
	h2
		display inline-block
	img
		float right
		margin 15px 0 0 15px
	.pre
		white-space pre
		font-family courier
		background-color mbCream
		padding 25px
		margin 30px
		font-size 0.9em
	.article-heading
		span.date
			float right
			margin-top 1.6em
			color #888
.back-to-blog
	margin 20px 0
	font-size 1.5em
	font-weight 700