html
	height 100%

body
	background-color mbPaleBlue
	min-height 100%
	margin 0
	position relative
.adjust-nav-bar
	margin-top 40px

h1, h2, h3, h4
	color mbKhaki
	font-family droid

h1
	margin 0 0 20px 0
	padding 20px 0 20px 0
	text-transform uppercase
	position relative
	display inline-block
	font-size 2.5em
	&:after
		position absolute
		content " "
		bottom 0
		left 3%
		height 2px
		width 93%
		border-bottom 2px solid mbLightBlue
h2
	font-size 1.6em

h3
	display inline-block

a
	text-decoration none
	color mbLightBlue

// Common Classes
.content
	width contentWidth
	margin 0 auto
	padding 20px 0 30px 0

.clearfix
	clearFix()

.column-1of2
	width 200px
	float left

.column-2of2
	width 750px
	float left

.center
	text-align center

.white-background
	background-color #ffffff
	color #000001
	> h1
	> h2
	> h3
	> h4
		color #000001

.light-blue-background
	background-color mbLightBlue
	color mbKhaki
	> h1
	> h2
	> h3
	> h4
		color mbKhaki

.dark-blue-background
	background-color mbDarkBlue
	color mbKhaki
	> h1
	> h2
	> h3
	> h4
		color mbKhaki