// FONTS

@font-face {
    font-family: 'droid_serifregular';
    src: url('../fonts/droidserif-webfont.eot');
    src: url('../fonts/droidserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidserif-webfont.woff') format('woff'),
         url('../fonts/droidserif-webfont.ttf') format('truetype'),
         url('../fonts/droidserif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}