// HEADER
header
	width 100%
	p
		font-size 1.4em
		margin 5px 0 10px 0
	.hero
		// background-image url('../images/core/hero.jpg')
		// background-size cover
		width 100%
		height 100%
	nav
		height 60px
		transition all 0.2s
		z-index 100
		width 100%
		font-family droid
		.content
			padding 20px 0
			text-transform uppercase
			a
				color mbKhaki
				font-size 18px
				display inline-block
				padding 0 50px
				transition-property font-size, width, height, line-height
				transition-duration 0.25s
	nav.fixed-nav-bar
		position fixed
		top 0
		height 40px
		.content
			padding 10px
			a
				font-size 14px