mixin documentHead()
	head
		meta(charset = "utf8")
		//- Open Graph
		meta(property="og:title" content="Web World Inc.")
		meta(property="og:description" content="my journey into web development")
		// meta(property="og:image" content="fullpath")

		//- Responsive
		meta(name = "viewport", content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		meta(name = "apple-mobile-web-app-capable", content = "yes" )

		//- Google Fonts

		//- Font Icons

		//- michael-browning-web Styles
		link(href="/css/style.css" rel="stylesheet" type="text/css")

		//- Scripts
		script(src="/js/jquery-1.11.0.min.js" type="text/javascript")
		script(src="/js/main.js" type="text/javascript")
		//- Icons
		//- Web
		// link(rel="shortcut icon" href="")
		//- Android

		//- iOS
