mixin header()
	header
		section.hero.center
			.content
				<h1>Web World Inc.</h1>
				<p>my journey into web development</p>
		nav.nav-bar.dark-blue-background.center
			.content
				a(href="/")
					|my work
				a(href="/my-dev-blog/")
					|my dev blog
				a(href="/about/")
					|about me
				a(href="/contact/")
					|contact