include ../_document_head.jade
include ../_header.jade
include ../_footer.jade
include ../article-blurbs/_minchinbury.jade
include ../article-blurbs/_advent_calendar.jade
include ../article-blurbs/_css_pseudo_position.jade

doctype html
html
	+documentHead()
	body.main-body
		+header()
		.content.clearfix
			.column-1of2
				p testing column 1
			.column-2of2
				h2 My Dev Blog
				+css_pseudo_position
				+minchinbury()
				+advent_calendar()
		+footer()